<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C3F1D57298092CD00219B3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C817A472997CF2C00654E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C817A4E2997CF2C00654E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE743252964F67C00C23CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE7432C2964F67C00C23CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE743452964FA7400C23CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE743762972125800C23CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE7437D2972125900C23CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
